@import "./mixin";
@import "./mediaQuery";
@import "./globalValue";
@import "../js/components/settingsCompo/clockHeader";
@import "../js/components/settingsCompo/clockOptions";
@import "../js/components/settingsCompo/hoursList";
@import "../js/components/settingsCompo/hourCompo/housrCompo";
@import "../js/components/clockCompo/clockMain";
@import "../js/components/settingsCompo/complemention";

@import "../js/pages/arrowBtn";
@import "../js/components/parts/text";
@import "../js/components/parts/radio";
@import "../js/components/parts/checkBox";
@import "../js/components/parts/button";
@import "../js/components/parts/loading";
@import "../js/pages/cover";

@import "./globalValue";

@font-face {
    font-family: 'DSEG7-Classic';
    src: url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Regular.woff2') format('woff2'),
    url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Regular.woff') format('woff'),
    url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #fff;
    color: #000000;
    margin: 0;
    font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

}

.head-small{
    font-size: 25px;
    font-weight: 200;
}

ul{
    list-style: none;
    padding: 0;
}

.degitalTimer{
    font-family: DSEG7-Classic;
}

.containerSetting{
    display: grid;
    grid-template-rows: 200px 150px 1fr 50px;
    grid-template-columns: 100%;
    grid-template-areas: 
        "clockHeader"
        "settingOptions"
        "hoursSettings"
        "footer"
    ;
    z-index: map-get($layer,base);
}

.clockHeader{
    grid-area: clockHeader;
    padding-left: 10px;
}

.settingOptions{
    grid-area: settingOptions;
    padding-left: 10px;
}

.hoursSettings{
    grid-area: hoursSettings;
    .hoursSettings__head{
        padding-left: 10px;
    }
}

.footer{
    grid-area: footer;
}

.containerClock{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: map-get($layer,base);
    &.darkMode:after{
        content:"";
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
    }
}

.hide{
    display: none;
}