.clockMain{
    position: absolute;
    z-index: 5;
}

.clockMain__clockType1{
    
    .clockMain__clockTimeType1{
        text-align: center;
    }
    .clockMain__clockTextType1{
        text-align: center;
    }
}

.clockMain__clockType2{
    
    .clockMain__clockTimeType2{
        text-align: center;
    }
    .clockMain__clockTextType2{
        text-align: center;
    }
}